<% provide(:title, "Acerca de..") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Artesanias Yessy</title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Acerca de..</h1>
<h3>
  Artesanias Yessy 2016
</h3>
<p>
 Todos los derechos reservados.
</p>
</body>
</html>