<% provide(:title, "Ayuda") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Artesanias Yessy</title>
</head>
<body>
<h1>Ayuda</h1>
<p>
  Para poder acceder al sistema debe iniciar session.
</p>
<p>
  Para poder iniciar session debe de registrarse previamente.
</p>
<p>
  Para poder registrarse acceda a la parte de "registrarse", y acontinuación coloque sus datos personales.
</p>
</body>
</html>